
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --mainFont: "Roboto", sans-serif;
  --main-bg: #080f0f;
  --main-txt-color: #eff2c0;
  --accent-color-1: #a52422;
}

/* reset start here */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, li {
  color: inherit;
  list-style: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

input {
  padding: .5rem;
  outline: 1px;
  border: none;
  border-radius: .3rem;
}

button {
  border: none;
  border-radius: .3rem;
  padding: .5rem;
  text-transform: uppercase;
}

/* reset end here */

body {
  width: 100dvw;
  height: 100dvh;
  font-family: var(--mainFont);
  color: var(--main-txt-color);
  background: var(--main-bg);
}

main {
  width: 100dvw;
  min-height: 100dvh;
}

.container {
  width: 80%;
  max-width: 2400px;
  margin-inline: auto;
}

header {
 width: 100dvw;
 font-size: 1.2rem;
 color: var(--main-bg);
 background: #a4bab7;
 position: sticky;
 top: 0;

  nav {
    width: 100%;
    padding-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .isActive {
    color: var(--accent-color-1);
  }

  a:hover {
    color: var(--accent-color-1);
  }

  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.error-page {
  min-width: 100dvw;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    color: var(--accent-color-1);
  }
}
