@use "_mixin" as mixin;

nav {
  width: 100%;
  padding-block: 1rem;
  
  .container {
    @include mixin.center-between;
  }

  .logo-container {
    @include mixin.center-center;
  }

  .logo {
    font-size: 1.6rem;
  }
  
  h1 {
    font-family: var(--kaushanScript);
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  a:hover {
    color: #333 !important;
  } 
}

.active {
  color: #333 !important;
}