@use "_mixin" as mixin;

nav {
  top: 0;
  width: 100%;
  padding-block: 1rem;
  background: var(--default-bg-blur);
  border-bottom: 1px solid var(--default-border-blur);
  position: sticky;
  backdrop-filter: var(--default-backdrop);
  z-index: 99;
  
  .container {
    @include mixin.center-between;
  }

  .logo-container {
    @include mixin.center-center;
  }

  .logo {
    font-size: 1.6rem;
  }
  
  h1 {
    font-family: var(--kaushanScript);
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

 .active,  a:hover {
    color: var(--secondary-text-color);
  } 
}